#changecity{background: #F5F5F5;}
#changecity .content{width: 1000px; border: solid 1px #DDDDDD; margin: 30px auto auto auto; background: white;}
#changecity .search{width: 100%; padding-top: 30px; padding-left: 32px;}
#changecity .search .submit{width: 98px; height: 44px; border-left: solid 1px #A6EDC9; border-top: solid 1px #A6EDC9; border-bottom: none; border-right: none; background: #42D88D;}
#changecity .search .text{width: 239px; height: 43px; border: solid 1px #DDDDDD; margin-left: 3px;}
#changecity .search .hot{width: 607px; height: 40px; float: right; padding-top: 14px;}
#changecity .search .hot .title{width: 40px; color: #666666;}
#changecity .search .hot .links{width: 560px; }
#changecity .search .hot .links a{color: #4db4e7; padding-left: 6px; padding-right: 6px;}
#changecity .search_bottom{width: 865px; height: 45px; border-bottom: dashed 1px #b4b4b4; float: right;}

#changecity .area_list{width: 100%; height: 40px; }
#changecity .area_list .province{}
#changecity .area_list .city{}
#changecity .area_list .city a{padding-left: 6px; padding-right: 6px; color: #2fc479;}