

#index{width: 1099px; margin: auto auto;}
#index>.context{width: 100%; height: 312px; background: url('/images/index_bg.jpg') 0px -100px;}
#index .login_box{width: 205px; height: 207px; float: right; margin: 50px 176px auto auto;}
#index .login_box [type=checkbox]{vertical-align: text-top;}
#index .login_box [type=text]{border: 0px;}
#index .login_box label.error{margin-left: 58px; display: block;}
#index .login_box .mobile{width: 134px; height: 33px; margin: 23px auto auto 58px;}
#index .login_box .pwd{width: 134px; height: 33px; margin: 19px auto auto 58px;}
#index .login_box .links{width: 100%; height: 32px; margin: 12px auto auto 17px;}
#index .login_box .forget{margin-left: 40px; color: #5a80c2;}
#index .login_box .login_btn{width: 180px; height: 31px; margin-left: 12px; background: url('/images/index_login_btn.jpg'); border: none;}

#index .base_list{width: 1100px; height: 250px; padding-top: 35px;}
#index .base_list>div{float: left;}
#index .base_list .space{float: left; width: 2px; height: 200px; background: url('/images/index_base_list_space.jpg'); margin: auto 20px auto 20px;}
#index .base_list .head .adorn{width: 22px; height: 22px; border-left: solid 4px #44b790; float: left;}
#index .base_list .head .title{width: 495px; height: 23px; background: url('/images/index_base_list_title_bg.jpg') repeat-x scroll center bottom; float: left;}
#index .base_list .head .title .more{float: right; width: 77px; height: 16px; background: url('/images/index_base_list_more.jpg');}
#index .base_list .list{margin-top: 20px; font-size: 12px;}
#index .base_list .list ul{list-style: inside none square;}
#index .base_list .list ul li{line-height: 24px;}
#index .base_list span{display: inline-table;}
#index .base_list .list .block0_5{width: 34px ;}
#index .base_list .list .block1{width: 68px ;}
#index .base_list .list .block1_5{width: 102px ;}
#index .base_list .list .block2{width: 136px ;}
#index .base_list .list .block2_5{width: 170px ;}
#index .base_list .list .block3{width: 204px ;}
#index .base_list .list .block4{width: 272px ;}
#index .base_list .list .block5{width: 340px ;}
#index .base_list .list .block6{width: 408px ;}
#index .base_list .list .block7{width: 476px ;}

#index .bottom_banner{width: 1099; height: 260px; background-color: #3fcc9c; border-top: solid 1px #d0d0d0;; border-bottom: solid 1px #d0d0d0;}
#index .bottom_banner img{margin: 17px auto auto 310px;}
#index .bottom_ad{width: 1099; height: 122px; border-top: solid 1px #d0d0d0;; border-bottom: solid 1px #d0d0d0; margin-top: 10px;}

#index .reg_btn1{width: 206px; height: 206px; margin: 50px auto auto 170px; float: left;}
#index .reg_btn2{width: 206px; height: 206px; margin: 50px auto auto 68px; float: left;}
#index .reg_btn_hover{width: 206px; height: 40px; background: #1f9d72; line-height: 40px; text-align: center; color: white; margin: 166px auto auto auto; display: none;}