.header{background-color: #666666;}
body{width: 100%; margin: auto auto; background-color: #F5F5F5;}

.body_context{width: 1000px; border: solid 1px #DDDDDD; margin: 30px auto auto auto; background-color: #F4FBFF;}

.body_context .left_nav{width: 230px;min-height: 900px; height: auto; overflow: hidden; background: #fafafa; float: left; }
.body_context .left_nav ul{list-style: none;}
.body_context .left_nav ul li{ height: 58px;  width: 229px; line-height: 58px;border-right: #DDDDDD solid 1px; box-sizing:content-box;}
.body_context .left_nav ul li a{ color:#666666 ; font-size: 14px; padding-left: 20px; font-weight: bold;}
.body_context .left_nav ul li.current{ width:227px ; background: #FFFFFF; border-left: #42d88d solid 2px;border-bottom: #DDDDDD solid 1px;border-top: #DDDDDD solid 1px; border-right: #FFFFFF solid 1px;box-sizing:content-box;}
.body_context .left_nav ul li.current a{ color: #42d88d;}
.body_context .left_nav_bc{ width: 230px; height: 961px; border-right: #DDDDDD solid 1px;}

.body_context .right{width: 738px; float: right; margin-left: 30px;}
.body_context .right .search{width: 100%;}
.body_context .right .search a{color: #2FC479;}
.body_context .right .search a.current{color: black;}
.body_context .right .search .date_filter span{margin-right: 10px;}
.body_context .right .search .row{width: 100%; height: 65px; line-height: 65px;}
.body_context .right .search .row .input{width: 312px; height: 51px; float: left;}
.body_context .right .search .row .form-control{vertical-align: super;}
.body_context .right .search .row .input .gender{margin-left: 10px;}
.body_context .right .search .row .input .title{width: 88px; height: 51px; line-height: 51px; text-align: center; font-size: 16px; color: #666666; float: left; background: #EEEEEE;}
.body_context .right .search .row .input .field{width: 222px; height: 49px; border: solid 1px #EEEEEE; float: left;}
.body_context .right .search .row .input label{display: block; float: left; width: 50px;}
.body_context .right .search .row .submit{margin-left: 7px; width: 59px; height: 52px; background: url(/images/works_search_search_btn.jpg); border: none;}

.body_context .right .list{width: 100%;}
.body_context .right .list .item{margin-bottom: 20px; border-bottom: solid 1px #EEEEEE; width: 730px;}
.body_context .right .list .item .title{margin: 20px auto 20px auto;}
.body_context .right .list .item .title .name{color: #5CC7FC;}
.body_context .right .list .item .title .stars{color: #FFAB2E; margin-left: 20px;}
.body_context .right .list .item .title .stars .star{background: url(/images/works_icon_star.png); display: inline-block; height: 13px; vertical-align: middle;}
.body_context .right .list .item .title .stars .star1{width: 17px;}
.body_context .right .list .item .title .stars .star2{width: 33px;}
.body_context .right .list .item .title .stars .star2{width: 49px;}
.body_context .right .list .item .title .stars .star2{width: 81px;}
.body_context .right .list .item .title .evaluate a{color: #42D88D; }
.body_context .right .list .item .descs{color: #666666; margin: 10px auto 10px auto;}
.body_context .right .list .item .descs span{margin-right: 20px;}
.body_context .right .list .item .more{margin: 20px auto 20px auto;}
.body_context .right .list .item .more a{color: #2FC479;}

.new_staff{width: 100%; margin-top: 38px; color: #666666;}
.new_staff label{color: #666666; margin: auto 13px auto 13px;}
.new_staff .row{width: 100%; height: 35px; margin-top: 36px; margin-bottom: 36px;}
.new_staff .row .title{margin-left: 34px; width: 120px; height: 35px; line-height: 35px; text-align: right; color: #666666; float: left; }
.new_staff .row .input{width: 600px; height: 35px; line-height: 35px; ;}
.new_staff .row .input .text{
	width: 118px; 
	height: 34px;
	line-height: 40px;
	border-radius: 4px;
	border:1px solid #dedede;
	-webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition:  box-shadow 0.30s ease-in-out;
}
.new_staff .row .input .text:focus{
  outline:none;
  border:#42D88D 1px solid;
  box-shadow: 0 0 8px rgba(103, 166, 217, 1);
}
.new_staff .row .input .address_text{width: 400px;}
.new_staff .row .notice{clear: both; color: red; margin: 16px auto auto 167px;}
.new_staff .next_btn{ width: 30%; margin: 78px auto 300px 167px; height: 36px; background: #2dc379; border: #2dc379 solid 1px; border-radius: 4px; color: #FFFFFF;transition: 0.5s linear; }
.new_staff .next_btn:hover{ background: #25a566;}



.body_context .form .field .input input{
	width: 306px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	border:1px solid #dedede;
	-webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition:  box-shadow 0.30s ease-in-out;
}